body        
{
    color: deeppink;
    text-align: center;
    font-family: "Arial black";
    font - size: 16 px;
    margin: 0;
    padding: 0;
}

#container
{
    width: 70%;
    padding: lem;
    text-align : left;
    border : 1px solid #000;
    margin: 0 auto;
}

#container h1
{
    font-size : 30px;
}